* {
  font-family: "IBM Plex Mono", monospace;
}
body {
  background: #000;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-display: block;
  font-size: 24px;
  transition: 0.3s ease all;
}

#app {
  margin: 0 auto;
  position: relative;
}

html,
body {
  padding: 0;
  background: #000;
  color: var(--color-amber-2);
  opacity: 1;
  font-weight: 300;
  font-size: 18px;
}
#app {
  overflow: hidden;
}

.page {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
}

.box {
  padding: 16px;
  border: 2px solid var(--color-amber-2);
  position: relative;
  box-sizing: border-box;
}
.box.ghost {
  border: 0;
  padding: 0;
}
.box.thin {
  padding: 8px;
}
.box.filled {
  background: var(--color-amber-2);
  color: #000;
}
.recipients-list {
  height: 40vh;
  overflow: scroll;
  border: 0;
  padding: 0;
  border-bottom: 2px solid var(--color-amber-2);
}

.box.item {
  box-sizing: border-box;
  line-height: 45px;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: var(--color-amber-2);
  font-size: 18px;
  font-weight: 300;
  grid-template-columns: 8fr 1fr;
  display: inline-grid;
  border-bottom: 0px;
}

.box.item span {
  width: 100%;
  padding-left: 8px;
}
.box.item i {
  text-align: center;
  background-color: #000;
  color: #fff;
  border-left: 2px solid var(--color-amber-2);
}

.box.item.selected span {
  /* change to vars */
  height: 45px;
  line-height: 45px;
  background-color: var(--color-amber-2);
  color: #000;
}

.bottom-list-button {
  min-height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 8px;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: var(--color-amber-2);
  font-size: 18px;
  font-weight: 300;
  border: 1px solid;
}

textarea:focus,
input:focus,
textarea,
input {
  outline: none;
  color: var(--color-amber-2);
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  border: 2px solid var(--color-amber-2);
  background: #000;
  margin-bottom: 16px;
}
textarea:focus,
input:focus {
  border: 0;
}

input {
  padding: 8px;
}
textarea {
  font-weight: 300;
  resize: none;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 90%;
}

.input input {
  border: 0px;
}

.input {
  color: inherit;
  border: 2px solid;
  line-height: 45px;
  height: 45px;
  border-bottom: 0px;
  overflow: hidden;
}
.input:last-child {
  border-bottom: 2px solid;
}

.input label {
  border-right: 2px solid;
  height: 45px;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 84px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  box-sizing: border-box;
  background: #000;
  color: var(--color-amber-2);
  padding: 8px 8px 8px 8px;
  border: 0px;
  border-right: 8px solid black; /* dropdown padding */
  outline: none;
  width: 100%;
}

.grid-container {
  width: 100%;
  box-sizing: border-box;
  display: inline-grid;
  gap: 24px;
}
.grid-1-2-2-h {
  grid-template-columns: 1fr 2fr 2fr;
  height: 80vh;
}
.grid-1-1-1-h {
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
}

.grid-1-1-1-v {
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-1-2-2-v {
  grid-template-rows: 1fr 6fr 6fr;
  gap: 16px;
  height: 89vh;
}
.grid-1-2-h {
  grid-template-columns: 1fr 2fr;
  gap: 0;
}
.grid-1-3-h {
  grid-template-columns: 1fr 3fr;
  gap: 0;
}


.nav {
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  display: inline-grid;
  gap: 0;
}
.nav .active {
  background: var(--color-amber-2);
  color: #000;
  border-bottom: 2px solid var(--color-amber-2);
}
.nav a {
  background: #000;
  color: var(--color-amber-2);
  border: 0;
  border-bottom: 2px solid;
  border-bottom: 2px solid;
  box-sizing: border-box;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.nav a:first-child {
  border-right: 2px solid var(--color-amber-2);
}
.nav a:last-child {
  border-left: 2px solid var(--color-amber-2);
}
.nav .disabled {
  text-decoration: line-through;
}

@keyframes notification {
  from {
    bottom: -120vh;
  }
  to {
    bottom: 5vh;
  }
}
@keyframes notification-out {
  to {
    bottom: -5vh;
    display: none;
  }
  from {
    bottom: 5vh;
    display: block;
  }
}
.notification {
  background: #fff;
  box-shadow: 8px 8px 0px #000;
  position: fixed;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  font-size: 8px;
  padding: 16px;
  width: 320px;
  text-align: center;
  transition: ease all 0.3s;
  bottom: -10vh;
  height: 0px;
}
.notification.show {
  transition: ease all 0.3s;
  bottom: 24px;
  height: auto;
}

*::-webkit-scrollbar {
  display: none;
}

.recipients-selector {
}
.recipients-selector select {
  cursor: pointer;
  height: 40px;
}
.recipients-selector span {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: inline-block;
  font-size: 18px;
}

.borderless {
  border: 0px;
}

.padding-0 {
  padding: 0;
}

button {
  padding: 8px 16px;
  margin: 0;
  background: var(--color-amber-2);
  border: 0px;
}
.action.box button {
  bottom: 0px;
  right: 0px;
  border: 0px;
  position: absolute;
}